<li id="activity_<%= activity.id %>" 
    data-controller="highlight" 
    data-highlight-duration-value="2000">
  <span><%= activity.created_at.strftime("%Y-%m-%d %I:%m:%S %P") %></span><br>
  <p>Performer 
    <% activity.parameters.map do |key, val| %>
      <i><%= key %></i> were all updated to <strong><%= val %></strong>
    <% end.join(", ") %>
  </p>
</li>