<div class="text-end">
  <%= link_to reports_admin_orders_path, class: "btn btn-primary" do %>
   <%= icon 'bar-chart-square', class: 'icon-text-white' %> Reports
  <% end %>
  <%= link_to 'New Order', new_admin_order_path, class: "btn btn-success" %>
</div>
