<div class="container mt-5">
  <div class="alert alert-success text-center" role="alert">
  📢 <%= link_to "Special Announcement: It's time to spend your chuds!", 
                pay_performers_path %> 🎉
  </div>
</div>
