<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="text-center container">
    <p>
      <%= image_tag 'TheCompany-FullLogo.png', class: 'img-fluid w-50' %>
    </p>
    
    <h1>Sorry, the portal is closed for maintenance.</h1>
  </div>
</div>
