
<div  id="login-container" class="text-uppercase text-center alert alert-primary">
  <% if @attendee.blank? %>
    <p>Chuds Balance</p>  
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginModal">Login First</button>
  <% else %>
    <p><%= @attendee.name %>'s Chuds Balance</p>
    <p><%= @attendee.chuds %> CHUDS</p>
  <% end %>
</div>

<div>
  <%= image_tag "landscape-placeholder.svg" %>
  <h3 class="text-uppercase">Be the best you!</h3>
  <p>
    Some in world copy about the seminar blah blah blah
  </p>
</div>