<%= render "shared/chuds_status" %>

<div>
  <%= image_tag "GrossProphets-Trio-v2.png", class: "img-fluid" %>
  <h2 class="text-uppercase mt-5">Be the best you!</h2>
  <p>
    Some in world copy about the seminar blah blah blah
  </p>
</div>