<%= render "shared/chuds_status" %>

<div>
  <%= image_tag "landscape-placeholder.svg" %>
  <h3 class="text-uppercase">Be the best you!</h3>
  <p>
    Some in world copy about the seminar blah blah blah
  </p>
</div>