<%= render "shared/chuds_status", attendee: @attendee %>

<div class="text-center">
  <% if @homepage_image.image? && @homepage_image.image.attached? %>
     <%= image_tag @homepage_image.image, class: "img-fluid" %>
  <% else %>
    <div class="col-12 col-md-4 offset-md-4">
      <%= image_tag "GrossProphets-Trio-v2.png", class: "img-fluid" %>
    </div>
  <% end %>

  <% unless @homepage_text.blank? %>
     <%= raw @homepage_text.value %>
  <% else %>
    <h2 class="text-uppercase mt-5">Be the best you!</h2>
    <p>
      Welcome to the greatest seminar on the planet! We are here to help you become the best you that you can be.
    </p>
  <% end %>
</div>