<div class="d-flex justify-content-center mb-5 mt-5">
  <div class="w-md-50 text-center">
    <h2>Welcome! Please sign in to the Company Dashboard</h2>
    <%= render 'attendees/form' %>
    <div class="mt-3">
      <%= @login_help %>
    </div>
  </div>
</div>