<div class="d-flex justify-content-center mb-5 mt-5">
  <div class="w-md-50 text-center">
    <h2>Welcome to the program.<br>
        Please sign up or log on.</h2>
    <%= render 'attendees/form' %>
  </div>
</div>