<% content_for :title, "The Company™ Purchase Notifications" %>

<%= turbo_stream_from 'notifications_screen' %>
  <div id="notifications" class="position-fixed top-0 start-0 p-3" style="z-index: 1050;">
</div>