<h1 class="text-center">Shop</h1>
<div class="container">
  <div class="row pb-5 mb-5 justify-content-center">
    <% @products.each do |product| %>
      <div class="col-lg-6 d-flex align-items-stretch justify-content-center mb-5">
        <div class="card bg-light p-3 w-100 d-flex flex-column">
          <%= bootstrap_form_with model: LineItem.new do |f| %>
            <%= render 'shared/product', product: product, f: f, channel: "in_show" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

      <!-- Shopping Cart Notice Modal -->
      <div id="modals"></div>
      <div class="modal fade" id="cartNoticeModal" tabindex="-1" aria-labelledby="cartNoticeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="cartNoticeModalLabel">Item Added</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="cartNoticeBody">
              Item was successfully added to your cart.
            </div>
            <div class="modal-footer">
              <a href="<%= cart_path %>" class="btn btn-warning">Go to Cart</a>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Keep Shopping</button>
            </div>
          </div>
        </div>
      </div>