<div style="width: 80%; margin: 0 auto;">
  <%= render 'buy_button' %>
</div>
<div>
  <%= link_to "Shop", shop_path %><br>
  <%= link_to "About the Product", "#" %><br>
  <%= link_to "About the Company", "#" %><br>
</div>