<h1 class="text-center">Shop</h1>
<div class="container">
  <div class="row justify-content-center">
    <% @products.each do |product| %>
      <div class="col-lg-6 d-flex align-items-stretch justify-content-center">
        <div class="alert alert-secondary w-100 d-flex flex-column">
          <%= bootstrap_form_with model: LineItem.new do |f| %>
            <%= render 'shared/product', product: product, f: f %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
