<% content_for :preload_links do %>
  <% @products.each do |product| %>
    <% next unless product.image.attached?  %>
    
    <%= tag.link rel: "preload", as: "image", href: url_for(product.image_medium) %>
  <% end %>
<% end %>

<h1 class="text-center">Shop</h1>
<div class="container">
  <div class="row pb-5 mb-5 justify-content-center">
    <% @products.each do |product| %>
      <div class="col-lg-6 d-flex align-items-stretch justify-content-center mb-5">
        <div class="card bg-light p-3 w-100 d-flex flex-column">
          <%= bootstrap_form_with model: LineItem.new do |f| %>
            <%= render 'shared/product', product: product, f: f %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
