<h1>Shop</h1>
<% @products.each do |product| %>
  <div class="alert alert-secondary m-3">
    <%= bootstrap_form_with model: @attendee do |f| %>
      <%= render 'shared/product', product: product, f: f %>
    <% end %>
  </div>
<% end %>

