<div class="col-12 col-md-6">
  <%= bootstrap_form_with(model: [:admin, @voucher], local: true) do |form| %>

    <%= form.text_field :code %>
    <%= form.text_field :amount %>
    
    <div class="actions">
      <%= form.submit nil, class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>