<div class="text-end">
  <%= link_to 'New Voucher', new_admin_voucher_path, class: "btn btn-success" %>
  <%= link_to upload_admin_vouchers_path, class: "btn btn-primary" do %>
    <%= icon "upload", class: 'icon-text-white' %> Upload
  <% end %>
</div>
